<header class="header-container">
	<div class="hotel-info">
		<span class="hotel-icon material-icons">apartment</span>
		<span class="hotel-name">LetStayInn</span>
	</div>
	<div class="user-info">
		<div class="user-details">
			<span class="user-name">{{ userName() }}</span>
			<span class="user-role">{{ userRole() }}</span>
		</div>
		<div class="user-actions">
			<p-button label="Profile" (onClick)="goToProfile()" title="Profile" severity="secondary">
				<i class="pi pi-user" style="font-size: 1.2rem"></i>
			</p-button>
			<p-button label="Logout" (onClick)="logout()" [severity]="'danger'">
				<i class="pi pi-sign-out" title="Logout" (click)="logout()"></i>
			</p-button>
		</div>
	</div>
</header>