@import "primeicons/primeicons.css";

body {
  background-color: #f9f9f9;
}

.dashboard-container {
  padding: 2rem;
  font-family: var(--font-family);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  .title-section {
    h2 {
      margin: 0;
      font-size: 1.75rem;
      font-weight: 600;
    }

    .welcome-text {
      margin: 0.25rem 0 0;
      font-size: 1rem;
      color: #666;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 1rem;

    .availability-badge {
      background-color: #e6e6fa;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      font-size: 0.875rem;
      font-weight: 500;
      color: #5a5a5a;
    }
    .unavailability-badge {
      background-color: #ef4444;
      padding: 0.5rem 1rem;
      color: white;
      border-radius: 20px;
      //   border-color: rgba(255, 0, 0, 0.68);
      font-size: 0.875rem;
      font-weight: 500;
      //   color: #5a5a5a;
    }
  }
}

.task-cards {
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  margin-bottom: 5rem;

  .task-card {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-4px);
    }

    .card-icon {
      font-size: 2rem;
      margin-right: 1rem;
      color: #6c63ff;
    }

    .card-content {
      .card-title {
        font-size: 1rem;
        font-weight: 500;
        color: #555;
      }

      .card-value {
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 200px;
        color: #222;
      }
    }

    &.pending .card-icon {
      color: #f39c12;
    }

    &.completed .card-icon {
      color: #27ae60;
    }

    &.available .card-icon {
      color: #3498db;
    }
  }
}

.assigned-request-table {
  margin-top: 0rem;

  .status-pending {
    color: #f39c12;
    font-weight: 500;
  }

  .status-inprogress {
    color: #3498db;
    font-weight: 500;
  }

  .status-completed {
    color: #2ecc71;
    font-weight: 500;
  }

  ::ng-deep .p-dropdown {
    font-size: 0.9rem;
  }
}

.no-requests-message {
  text-align: center;
  font-size: 2rem;
  color: #888;
  margin: 2rem 0;
  font-style: italic;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.451);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  // pointer-events: all;
}

::ng-deep .p-confirmdialog {
  font-family: var(--font-family);
  text-align: left;
}

::ng-deep .p-sortable-column-icon {
  display: none;
}

::ng-deep p-sortIcon::after {
  content: "unfold_more";
  font-family: "Material Icons";
  font-size: 18px;
  color: #666;
  margin-left: 6px;
  vertical-align: middle;
}
