.customer-service {
  padding: 2rem;

  .header {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    // margin-left: 2rem;

    h2 {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
    }

    .subtitle {
      color: var(--subtitle-color);
      margin-bottom: 1.5rem;
    }

    .action-buttons {
      display: flex;
      gap: 1rem;

      .btn {
        padding: 0.6rem 0.7rem;
        font-family: var(--font-family);
        border: none;
        border-radius: 6px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s ease;
        background-color: #3f51b5;
        color: white;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  .service-cards {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: 6rem;
    // max-height: 70vh;
    // min-height: 200px;
    // overflow-y: auto;

    .service-card {
      background-color: var(--card-bg);
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 1rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

      .card-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75rem;

        .type {
          font-weight: 600;
          color: #4e47b5;
        }

        .status {
          font-size: 0.9rem;
          color: #888;
        }
      }

      .card-body {
        p {
          margin: 0.25rem 0;
          color: #444;
        }
      }
    }
  }
}

.request-dialog {
  .dialog-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    .form-group {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 500;
        margin-bottom: 0.4rem;
        color: #333;
      }

      .custom-input {
        padding: 0.5rem;
        border: 1px solid #ccc;
        font-family: var(--font-family);
        border-radius: 6px;
        font-size: 0.95rem;
      }

      textarea.custom-input {
        resize: vertical;
      }
    }
  }

  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;

    .btn-primary {
      background-color: #4e47b5;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 6px;
    }

    .btn-secondary {
      background-color: transparent;
      color: var(--text-color);
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 6px;
    }
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.451);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  // pointer-events: all;
}
