@import "primeicons/primeicons.css";

.feedback-container {
  padding: 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    h2 {
      margin: 0;
      font-size: 1.75rem;
    }

    .subtitle {
      color: var(--subtitle-color);
      font-size: 0.95rem;
    }
  }

  .rating-summary {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    span{
      font-weight: 500;
      font-size: 1rem;
      color: var(--text-color);
    }

    .rating-text {
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-color);
    }
  }

  .feedback-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1.5rem;

    .feedback-card {
      padding: 1rem;
      transition: transform 0.3s ease;

      &:hover{
        cursor: pointer;
        transform: translateY(-2px);
      }

      .customer-info {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 600;
        font-size: 1.1rem;
        color: var(--text-color);
        margin-top: 10px;
      }

      .rating-section {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin: 0.5rem 0;
      }

      .individual-rating {
        font-weight: 500;
        color: #555;
      }

      .comment {
        margin: 0.5rem 0;
        font-size: 0.95rem;
        color: #444;
      }

      .meta {
        display: flex;
        justify-content: space-between;
        font-size: 0.85rem;
        color: #777;

        .booking-id {
          font-style: italic;
        }
      }
    }
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.451);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  // pointer-events: all;
}

::ng-deep .p-confirmdialog {
  font-family:var(--font-family);
  text-align: left;
}
